
@font-face {
    font-family: 'FFFForward';
    src: url('../images/FFFFORWA.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  overflow:hidden;
  margin: 0px;
  padding: 0px;

/* The font size you want at 720p.  Other sizes are calculated from here */

  font-size: 15px;
}

#window-container {
    position: fixed;
    top: 0px;
    left: 0px;
    background-image: url('/graphics/nodecg-speedcontrol/images/BackgroundImage.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    color: white;
    margin: 0px;
    padding: 0px;
}


#marathonLogo {
    position: fixed;
    top: 0px;
    width: 223px;
    height: 87px;
    background-image: url('/graphics/nodecg-speedcontrol/images/EsaLogo.png');
    background-repeat: no-repeat;
}

.runnerTimerFinishedContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    display: flex;
    color: white;
    font-family: FFFForward;
    font-size: 1em;
    height: 40px;
    overflow: hidden;
}

.runnerTimerFinished {
    height: 76%;
    line-height: 2.8em;
    padding-right: 5px;
    vertical-align: middle;
}

.finishedLogo {
    position: relative;
    width: 32px;
    height: 76%;
    padding: 5px;
    background-image: url('/graphics/nodecg-speedcontrol/images/finishFlag.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
}

#webcamCover {
    opacity: 0;
}