
#runInformationGameEstimate:before {
    content: 'EST: ';
}

#runInformationGameEstimate:after {
    content: ':00';
}

#runInformationContainer {
    position: fixed;
    top: 400px;
    left: 0px;
    width: 460px;
    height: 100px;
    overflow: hidden;
    background: rgba(0,0,0,0.2);
    border: 2px solid rgba(150,91,222,0.2);
}

#runInformationGameName {
    font-family: FFFForward;
    font-size: 20px;
    line-height: 100px;
    text-align: left;
    color: #aeebe0;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    width: 400px;
}

#runGameNameIcon {
    height: 100%;
    width: 50px;
    padding-top: 2px;
}

img.runInformationGameNameImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#runInformationGameCategory {
    font-family: FFFForward;
    font-size: 14px;
    color: #aeebe0;
    text-align: left;
    white-space: nowrap;
    line-height: 58px;
    flex-grow: 5;
    overflow: hidden;
}

#runInformationGameSystem {
    font-family: FFFForward;
    font-size: 14px;
    color: white;
    text-align: left;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 10px;
    line-height: 58px;
    overflow: hidden;
}

#runGameCategoryIcon {
    height: 100%;
    width: 50px;
    min-width: 50px;
    padding-top: 10px;
}

#runGameSystemIcon {
    height: 100%;
    width: 60px;
    min-width: 50px;
    padding-top: 5px;
}

img.runInformationGameCategoryImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.runInformationGameSystemImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
