@font-face {
    font-family: 'FFFForward';
    src: url('../images/FFFFORWA.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    color: #ebcfb6;
}

#window-container {
    background-image: url('/graphics/nodecg-speedcontrol/images/BackgroundImage.png');
    width: 1280px;
    height: 720px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    background-color: #000000;
}

#comingUp {
    color: #ebcfb6;
    position: relative;
    top: 0px;
    left: 0px;
    font-family: FFFForward;
    font-size: 20px;
    padding-bottom: 15px;
    width: 100%;
}

#justMissed {
    color: #ebcfb6;
    position: relative;
    top: 0px;
    left: 0px;
    font-family: FFFForward;
    font-size: 20px;
    padding-bottom: 15px;
    width: 100%;
}

#comingUpRun {
    position: absolute;
    font-family: FFFForward;
    font-size: 14px;
    display: flex;
    flex-flow: row wrap;
    width: 400px;
}

#justMissedRunContainer {
    position: absolute;
    font-family: FFFForward;
    display: flex;
    flex-flow: column;
    font-size: 14px;
    width: 500px;
    min-width: 500px;
}


#comingUpRunContainer {
    position: absolute;
    font-family: FFFForward;
    display: flex;
    flex-flow: column;
    font-size: 14px;
    width: 500px;
    min-width: 500px;
}

#informationMarquee {
    font-family: FFFForward;
    color: #ebcfb6;
    position: absolute;
    top: 500px;
    left: 0px;
    height: 0px;
    width: 1280px;
    overflow:hidden;
    white-space: nowrap;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    font-size: 15px;
    text-align: center;
}

#comingUpGame {
    font-family: FFFForward;
    font-size: 16px;
    line-height: 42px;
    text-align: left;
    color: #ebcfb6;
    white-space: nowrap;
    overflow: hidden;
}

#comingUpSystem {
    font-family: FFFForward;
    font-size: 14px;
    color: #ebcfb6;
    text-align: left;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 10px;
    line-height: 58px;
    overflow: hidden;
}
#comingUpCathegory {
    font-family: FFFForward;
    font-size: 14px;
    color: #ebcfb6;
    text-align: left;
    white-space: nowrap;
    line-height: 58px;
    flex-grow: 5;
    overflow: hidden;
}

#justMissedGame {
    font-family: FFFForward;
    font-size: 16px;
    line-height: 42px;
    text-align: left;
    color: #ebcfb6;
    white-space: nowrap;
    overflow: hidden;
}

#justMissedSystem {
    font-family: FFFForward;
    font-size: 14px;
    color: #ebcfb6;
    text-align: left;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 10px;
    line-height: 58px;
    overflow: hidden;
}

#justMissedCathegory {
    font-family: FFFForward;
    font-size: 14px;
    color: #ebcfb6;
    text-align: left;
    white-space: nowrap;
    line-height: 58px;
    flex-grow: 5;
    overflow: hidden;
}

#runInformationContainer {
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 0px;
    left: 0px;
    width: 420px;
    height: 100px;
    overflow: hidden;
    background: rgba(0,0,0,0.2);
    border: 2px solid rgba(150,91,222,0.2);
}

#justMissedContainer {
    display: flex;
    flex-flow: row;
    background-color: rgba(127,104,74,0.2);
    box-shadow: 3px 3px 2px #000000;
    margin-bottom: 10px;
    min-height: 40px;
    height: 40px;
}

#comingUpContainer {
    display: flex;
    flex-flow: row;
    background-color: rgba(127,104,74,0.2);
    box-shadow: 3px 3px 2px #000000;
    margin-bottom: 10px;
    min-height: 40px;
    height: 40px;
}

.informationIcon {
    height: 100%;
    width: 50px;
    padding-top: 3px;
}

img.informationIconImage {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.runGameSystemIcon {
    height: 100%;
    width: 60px;
    min-width: 50px;
    padding-top: 5px;
}

.runInformationContainer {
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 0px;
    left: 0px;
    width: 90%;
    height: 100px;
    min-height: 100px;
    overflow: hidden;
    background: rgba(0,0,0,0.2);
}

.runInformationFields {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.runInformationTopRow {
    width: 100%;
    height: 42%;
    min-height: 42%;
    background-color: rgba(127,104,74,0.2);
    display: flex;
    flex-flow: row;
}

.runGameNameIcon {
    height: 100%;
    width: 50px;
    padding-top: 2px;
}

.runInformationBottomRow {
    width: 100%;
    height: 49%;
    display: flex;
    flex-flow: row;
    overflow: hidden;
}

.runGameCategoryIcon {
    height: 100%;
    width: 50px;
    min-width: 50px;
    padding-top: 10px;
}

.playerInformationContainer {
    position: relative;
    width: 500px;
    top: 0px;
    left: 25px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

/* Top Level */
.playerContainer {
    position: relative;
    top: 0px;
    left: 0px;
    width: 220px;
    min-width: 220px;
    height: 35px;
    min-height: 35px;
    display: flex;
    overflow: hidden;
    background-color: rgba(0,0,0,0.2);
}

.runnerLogo {
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

.runnerInfo {
    font-family: FFFForward;
    color: #ebcfb6;
    line-height: 35px;
    font-size: 10px;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    padding-left: 7px;
    flex: 1;
}

.playerLogoDelimiter {
    width: 5px;
    height: 35px;
}

img.playerDelimiter {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
    height: 50%;
}

img.playerLogo {
    position: absolute;
    width: 21px;
    height: 30px;
    top: 2px;
    left: 5px;
}

