#timerContainer {
    position: fixed;
    top: 400px;
    left: 700px;
    width: 440px;
    height: 90px;
}

#timer {
    position: relative;
    font-family: FFFForward;
    font-size: 45px;
    text-align: center;
    top: 5px;
}

#runInformationGameEstimate {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 400px;
    height: 100px;
    font-family: FFFForward;
    font-size: 20px;
    text-align: center;
    color: rgba(255,255,255,0.5);
}

.timer_paused {
    color: #8cbeb6;
}

.timer_running {
    color: rgba(255, 255, 255, 1);
}

.timer_stopped {
    color: #aeebe0;
}

.timer_finished {
    color: #fdd224;
}